@model BeneficiarioViewModel

@{
    ViewData["Title"] = "Index beneficiario";
     Layout = ViewBag.Layout ?? "_Layout";
}

<div>
    <h2>Información del Beneficiario</h2>
    <p>UserId: @ViewBag.UserId</p>

    @if (Model == null)
    {
        <p>@ViewBag.Mensaje</p>
    }
    else
    {
        <table class="table">
            <tr>
                <th>Nombre</th>
                <td>@Model.Nombre</td>
            </tr>
            <tr>
                <th>DUI</th>
                <td>@Model.Dui</td>
            </tr>
            <tr>
                <th>Teléfono</th>
                <td>@Model.Telefono</td>
            </tr>
            <tr>
                <th>Dirección</th>
                <td>@Model.Direccion</td>
            </tr>
            <tr>
                <th>Entidad</th>
                <td>@Model.EntidadNombre</td>
            </tr>
            <tr>
                <th>Estado del Subsidio</th>
                <td>@Model.EstadoSubsidio</td>
            </tr>
        </table>
    }
</div>